{{input value=kw}}
<div>
  {{currentKw}}
</div>
<button {{action 'fastbackward'}}>fastbackward</button>
<button {{action 'left'}}>left</button>
<button {{action 'right'}}>right</button>
<button {{action 'fastforward'}}>fastforward</button>
<div class="outer">
  <div class="container" {{bind-attr style=containerStyle}}>
    {{#each week in controller}}
      {{lazy-week class='week' kw=week.kw currentKw=currentKw}}
    {{/each}}
  </div>
</div>
